.container {  
    display: grid;
    grid-template-columns: 0.7fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    /* grid-auto-flow: row; */
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "game-info adventure-deck player2 discard"
      "game-info player3 quest-event player4"
      "player-info player3 quest-event player4"
      "player-info player3 player1 player4"
      "player-info hand hand hand";
    min-width: 100%;
    height: 90%;
    overflow-y: unset;
    font-family:cursive;
}

.player-info { grid-area: player-info; }
  
.game-info { grid-area: game-info; }
  
.hand { 
  grid-area: hand;
  min-height: 0;
  min-width: 0;
  border-style: solid;
}

.grid-a {
  min-width: 0;
  min-height: 0;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
  
.player1 {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "rank1 playerMove"; 
    grid-area: player1;
    border-style: dashed;
}

.rank1 { grid-area: rank1; }
  
.player2 {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "rank2 playerMove"; 
    grid-area: player2;
    min-height: 0;
    min-width: 0;
    border-style: dashed;
}

.rank2 { grid-area: rank2; }

.player3 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.4fr 3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "rank3"
      "playerMove"; 
    grid-area: player3;
    min-height: 0;
    min-width: 0;
    border-style: dashed;
}

.rank3 { grid-area: rank3; }

.player4 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.4fr 3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "rank4"
      "playerMove"; 
    grid-area: player4;
    min-height: 0;
    min-width: 0;
    border-style: dashed;
}

.rank4 { grid-area: rank4; }

.playerMoveH {
    grid-area: playerMove;
    display: flex;
}

.playerMoveV {
    grid-area: playerMove;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.discard { 
  display: grid; 
  grid-area: discard;
  border-style: dashed;
  border-bottom: 0;
  border-left: 0;
}

.adventure-deck { 
  display: grid; 
  grid-area: adventure-deck; 
  border-style: dashed;
  border-bottom: 0;
  border-right: 0;
}
  
.quest-event {  
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "story-deck story-card event"
      "story-deck story-card event"
      "story-deck story-card event";
    grid-area: quest-event;
    background-image: url("../../public/background.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15vw;
}
  
.story-deck { grid-area: story-deck; }

.story-card { grid-area: story-card; }
  
.event { grid-area: event; }

.card {
  background: transparent;
  transition: transform 250ms;
  z-index: 1;
}

.hand .card:hover {
  transform: translateY(-50px) scale(1.5) translateZ(0px);
  z-index: 2;
}

.card:hover {
  transform: translateY(25px) scale(1.5) translateZ(0px);
  z-index: 2;
}

.card-clickable {
  background: transparent;
  transition: transform 250ms;
  z-index: 1;
}

.card-clickable:hover {
  transform: scale(1.1) translateZ(0px);
  z-index: 2;
}

.card-static {
  background: transparent;
}

.card-disabled {
  filter: grayscale(100%);
}

.modalf{
  height: 100vh !important;
  width: auto !important;
  max-height: 100vh !important;
  max-width: 90vw !important;
  white-space: pre-line;
}

.modalDiscard{
  height: 100vh !important;
  width: 90vw !important;
  max-height: 100vh !important;
  max-width: 90vw !important;
  white-space: pre-line;
}